<head>
    <!-- Custom fonts for this template -->
    <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../static/js/sb-admin-2.min.js"></script>

</head>

<div id="header">
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <form class="form-inline">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
        </form>

        <!-- 검색 조건 -->
        <div class="form-inline justify-content-center" th:object="${itemSearchDto}">
            <select class="form-control" style="width: auto;">
                <option value="all">제목</option>
                <option value="1d">본문</option>
                <option value="1w">해시태그</option>
            </select>
        </div>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
<!--            <li class="nav-item dropdown no-arrow">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome + {"@@@"}</span>-->
<!--                </a>-->
<!--            </li>-->

            <!-- 관리자 로그인 시 -->
            <li class="nav-item dropdown no-arrow">
                <a class="btn btn-danger btn-icon-split" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline small" style="color: black">관리자 페이지로 이동</span>
                </a>
            </li>

        </ul>
    </nav>
    <!-- End of Topbar -->
</div>
